:root {
    --tangerine: 'Tangerine', cursive;
    --quarrel: 'Lovers Quarrel',
        cursive;
        --playfair: 'Playfair Display',
            serif;
            --quicksand: 'Quicksand',
                sans-serif;
                --abril: 'Abril Fatface',
                    cursive;
        --pink: #FBDDFB;
        --purple: #6E0061;
        --blue: #192A52;
}

.home .content {
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content h1 {
    
    font-size: 40px;
    font-family:  var(--abril);

}

.content h2 {
    color:var(--blue);
    text-decoration: underline;
    padding: 1rem;
}

.content ul {
    padding: 1rem;
    margin: 1rem;
}

.content ul li {
    list-style: none;
    padding: 1rem;
    padding: 1rem;
    font-size: 30px;

}

.content ul li a {
    text-decoration: none;
        
}

/* CSS */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #000;
    }
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* CSS */
@keyframes blink-caret {

    from,
    to {
        border-right-color: transparent;
    }

    50% {
        border-right-color: var(--blue);
        /* Color of the cursor */
    }
}

.cursor {
    display: inline-block;
    border-right: 4px solid var(--blue);
    /* Width and color of the cursor */
    margin-right: 2px;
    /* Adjust as needed to control cursor spacing */
    height: 1em;
    /* Adjust as needed to control cursor height */
    animation: blink-caret 1s step-end infinite;
    /* Blink animation */
}

