:root {
    --tangerine: 'Tangerine', cursive;
    --quarrel: 'Lovers Quarrel',
        cursive;
        --paragraph: 'Lusitana',
            serif;
            --quicksand: 'Quicksand',
                sans-serif;
                --abril: 'Abril Fatface',
                    cursive;
                    --bodoni: 'Libre Bodoni',
                        serif;
                        --roboto: 'Roboto',
                            sans-serif;
        --pink: #FBDDFB;
        --purple: #6E0061;
        --blue: #192A52;
        --baby: #6ED0F0;
        --shecodes: #885DF1;
        --ppink: #C97C72;
}

.home {
    background-image: url('./backgrounds/purple.png');
        background-position: center;
    height: 750px;
   
}

.home .top {
    height: 60px;
}
 

.home .content {
    background-color: rgba(145, 110, 150, 0.7);
        /* Adjust the alpha value (0.7 in this example) for the desired opacity */
    background-position: center;
        /* Adjust the alpha value (0.7 in this example) for the desired opacity */
        /* Center the background image horizontally and vertically */
    text-align: center;
    border: 1px solid #C26CB5;
    box-shadow: 0 4px 8px rgba(26, 26, 29, 0.2);
    margin:60px;
    margin-top: 0;
    height: 600px;
    margin-bottom: 0;
}

.content h1 {
    padding-top: 1rem;
    padding-bottom: 1px;
    font-family: var(--paragraph);
    color: #482C58;
    font-size: 60px;
    background-color: #AB8BAE;
    border: 1px solid #C26CB5;

}

.content h2 {
    color:var(--pink);
    text-decoration: underline;
    padding: 1rem;
    font-size: 40px;
}

.content ul {
    list-style: none;
    padding: 0;
}

.content ul li {
    padding: 1px;
    font-size: 30px;
    font-family: var(--tangerine);
    background-color: rgba(255, 255, 255, 0.2);
    /* Semi-transparent white background */
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* Semi-transparent black border */
    /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Box shadow */
    transition: background-color 0.3s, transform 0.3s;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    /* Smooth transition */
}

.content ul li:hover {
    background-color: rgba(255, 255, 255, 0.4);
        /* Slightly more opaque white background */
        transform: translateY(-2px);
        /* Slight lift on hover */
        color: var(--pink);
}

.content ul li a {
    text-decoration: none;
    font-size: 60px;
    color: var(--purple);        
}

.content ul li a:hover {
    
        transform: translateY(-2px);
        /* Slight lift on hover */
}

/* CSS */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--pink);
    }
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* CSS */
@keyframes blink-caret {

    from,
    to {
        border-right-color: transparent;
    }

    50% {
        border-right-color: var(--pink);
        /* Color of the cursor */
    }
}

.cursor {
    display: inline-block;
    border-right: 4px solid var(--blue);
    /* Width and color of the cursor */
    margin-right: 2px;
    /* Adjust as needed to control cursor spacing */
    height: 1em;
    /* Adjust as needed to control cursor height */
    animation: blink-caret 1s step-end infinite;
    /* Blink animation */
}

.footer {
    height: 1rem;
    margin-top: 1rem;
}

.footer .left a {
    color: var(--pink);
}

.footer .left a:hover {
    color: var(--purple);
}

.footer .left {
    margin-left: 5rem;
    font-family: var(--paragraph);
    font-size: 20px;
}

.footer .copyright {
    color: var(--pink);
    font-family: var(--paragraph);
    padding-left: 35rem;
    font-size: 18px;

}

/* about page */
.about {
    background-color: #F7F2F8;
}

.about .header {
    background-image: url('./backgrounds/mern_icon.png');
    background-size: contain;
    background-position: center top;
    background-color: var(--pink);
    background-repeat: no-repeat;
    height: 200px;
    padding-top: 2rem;
    border-bottom: 1px inset var(--pink);
     box-shadow: 0 4px 8px var(--ppink);
  
}

.about .top {
    display: flex;
    padding: 1rem;
    padding-bottom: 0;
}

.about .introduction {
    flex: 3;
    font-family: var(--paragraph);
    font-size: 20px;
    padding: 2rem;
    color: var(--purple);
    box-shadow: 0 4px 8px var(--ppink);
    background-color: var(--white);

}

.introduction h2 {
    text-transform: uppercase;
    text-decoration: underline;
    padding-left: 1rem;
    margin-left: 1rem;
    color: var(--blue);
}

.introduction p {
    padding-left: 2rem;
}


.about .introduction a {
    color: var(--shecodes);
    font-size: 18px;

}

.about .introduction a:hover {
    color: green;
}
.about .photo {
    flex: 2;
   
}

.about-content {
    padding: 2rem;

}

.about h3 {
    font-family: var(--paragraph);
    text-transform: uppercase;
    text-align: center;
    color: var(--blue);
    border: 1px solid pink;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    margin-top: 0;
    box-shadow: 2px 4px 8px var(--blue);
    background-color: var(--pink);
}

.word-spacing {
    white-space: nowrap;
    /* Prevent word wrapping */
    margin-right: 20px;
    /* Add spacing between words */
}

.about h4 {
    color: var(--blue);
    font-family: var(--paragraph);
    text-decoration: underline;
    padding: 1rem;
    padding-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}

.about .skills {
    display: flex;
    color: var(--purple);
   
   
}
.skills .one {
    flex: 2;
}

.skills .two {
    flex: 3;
    text-align: left;
    
}

.about-content ul {
    list-style: none;
    font-family: var(--paragraph);
    font-size: 20px;
   
}

.about-content ul li {
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shecodes);

}

.github {
    text-align: center;
    font-family: var(--paragraph);
    font-size: 24px;
    padding: 2rem;
    
}

.github a {
text-decoration: none;
color: orange;
}

.github a:hover {
    color: var(--purple);
}
.cv {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.cv button {
    color: var(--baby);
    background-color: var(--blue);
    border: 1px solid var(--baby);
    font-family: var(--quicksand);
    padding: 0.7rem;
    box-shadow: 0 4px 8px var(--baby);
    border-radius: 5px;
}

.cv button:hover {
    color: var(--blue);
    background-color: var(--baby);
}


.controls {
    background-color: var(--pink);
    border-top: 1px inset var(--pink);
        box-shadow: 0 -4px 8px var(--ppink);
        margin-left: 1rem;
        margin-right: 1rem;
}

.controls a {
    color: var(--purple);
}

.controls a:hover {
    color: var(--ppink);
}

.controls span {
    font-size: 25px;
}
.controls .go-back {
    margin-left: 1rem;
}

.controls .center {
  margin-left: 42rem;
  
}



/* projects */
.evergreeen {
    background-color:#F2F7F0;
    box-shadow: 0 4px 8px #00929C;

}

.navs {
    display: flex;
    justify-content: space-between;
    background-color: #F2F7F0;
        box-shadow: 0 4px 8px #00929C;
        margin: 1px;
  
}

.navs .back {
    margin-left: 0;
}

.navs a {
    color: #00929C;
    font-size: 26px;
}

.navs a:hover {
    color: #4BB543;
}

.evergreen {
    margin: 1rem;
    margin-top: 0;
    border: 1px solid #00929C;
    border-top: none;
}

.titles {
    padding: 1rem;
    padding-top: 0;
    background-color: #00929C;
    border-bottom: 1px solid #00929C;
    
}

.titles h1 {
    color: var(--blue);
    font-family: var(--paragraph);
    text-transform: uppercase;
    padding: 1rem;
    margin-bottom: 0;
    font-size: 32px;
   padding-left: 5rem;
    text-decoration: underline;
    
}

.titles h2 {
    color: #F6F7E9;
    font-family: var(--quicksand);
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 1rem;
    margin-bottom: 0;
}

.titles h3 {
    color: #AFEEEE;
        font-family: var(--paragraph);
        margin-left: 2rem;
        margin-bottom: 0;
}

.titles h4 {
    color: #F6F7E9;
        font-family: var(--quicksand);
        text-transform: uppercase;
        margin-bottom: 0;
        padding-bottom: 0;
        
}

.titles h4 span {
    text-transform: uppercase;
    font-family: var(--paragraph);
    color: #F6F7E9;
}

.titles h5 {
    color: #F6F7E9;
        font-family: var(--quicksand);
        text-transform: uppercase;
        margin-bottom: 0;
        padding-bottom: 0;
}

.titles hr {
    color: #F6F7E9;
    margin-bottom: 0;
    padding-bottom: 0;
   
}

.description {
    background-color: #AFEEEE;
}

.description h1 {
color: var(--blue);
    font-family: var(--paragraph);
    text-transform: capitalize;
    padding: 1rem;
    padding-bottom: 0;;
    margin-bottom: 0;
    font-size: 30px;
    margin-left: 2rem;
    text-decoration: underline;
    
}

.description p {
    font-family: var(--paragraph);
    font-size: 26px;
  margin-left: 2rem;
  color: #4BB543;
  margin-bottom: 0;
  padding-bottom: 0;
}

.description ul {
    font-family: var(--roboto);
    font-size: 22px;
    color:var(--blue);
    list-style: inside;
}

.description .users ul {
    list-style: none;
}

.description .users ul li h4 {
    text-transform: uppercase;
    padding-top: 1rem;
    color: #4BB543;
    text-decoration: underline;
}

.description .users ul li p {
    font-size: 22px;
    padding-right: 2rem;
    margin-left: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--blue);
    font-family: var(--roboto);
    
}

.farmer-dashboard,
 .grocer-dashboard,
 .buyers {
    display: flex;
    background-color: var(--blue);
    margin: 1rem;
}

.buyers {
    margin-left: 0;
}

.farmer-dashboard img
  {
    height: 320px;
    padding: 1rem;

}

.farmer-dashboard .one,
.grocer-dashboard .summary,
.buyers .basket {
    flex: 1;
}

.farmer-dashboard .two,
.grocer-dashboard .create,
.buyers .basket-one {
    flex: 1;
}

.grocer-dashboard img {
    height: 350px;
    padding: 1rem;
}

.buyers img {
    height: 320px;
    padding: 1rem;
}

.basket-one {
    padding-left: 0;
}

.users {
    border-bottom: 1px solid #00929C;
    
}

.goals {
    padding: 1rem;
    background-color: #F6F7E9;
    border-bottom: 1px solid #00929C;
   
}

.goals ul {
    font-family: var(--quicksand);
    color: #4BB543;
}

.goals p {
    font-size: 24px;
    color: #1F5229;
    
}

.link {
    background-color: #00929C;
    padding: 1rem;
    text-align: center;
    
}

.link a {
    color: #F6F7E9;
    font-size: 24px;
}

.link a:hover {
    color: var(--blue);
}

/* Shecodes */

.shecodes {
    background-color: var(--ppink);
}

/* Contact */
.contact {
    margin: 1rem;
    margin-right: 20rem;
    margin-left: 20rem;
    padding: 0;
    background-image: url('./backgrounds/contact.jpg');
    background-size: contain;
    background-position: center;
    background-color: #D2C3BC;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 1px solid #FFFFFF;
}

.contact h1 {
    margin-top: 1rem;
}